body{
	font-family: 'Asap Condensed';
	background-color: #FFA538;
	width: 100%;
	margin: 0px;
}

.wd-100{
	width: 100%;
}

.wd-80{
	width: 80%
}

.wd-70{
	width: 70%;
}

.wd-60{
	width: 60%;
}

.wd-50;{
	width: 50%;
}

.wd-40{
	width: 40%;
}

.wd-30{
	width: 30%;
}

.wd-20{
	width: 20%;
}

#welcome-page-inside-box{
	background-color: rgba(255,255,255,0.2);
	width: 30%;
	height: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	border-radius: 10%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text{
	color: white; 
	font-size: 40px;
	/*margin-top: 175px;*/
}

#welcome-page-btn{
	background-color: #7d512b;
	height: 71.6px;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	/*margin-top: 36.1px;*/
	border-radius: 10%;
	
}

#welcome-page-btn:hover{
	background-color: #5d412b;
}

.btn-text{
	font-size: 20px;
	color: white;
	text-decoration: underline;
}

#each-continental-main-page-head{
	color: white; 
	font-size: 60px;
	text-align: center;
	margin-top: 50px;
}